<strong>Bem vindo a nossa academia, {{name}} </strong>
<p>Sua matrícula pelo plano {{plan}} com duração de {{duration}} foi realizada com
  <strong>SUCESSO</strong></p>
</p>
<P>O valor total do programa ficou {{price}}R$ e você inicia no dia {{start_date}}</P>
</p>
